# Исполняемые файлы
*.exe
*.out

# Объектные файлы
*.o
*.obj

# Папки сборки
build/

# Игнорирование папок сборки
[Dd]ebug/
[Rr]elease/
x64/
.vs/

# Игнорирование пользовательских файлов и кеша
*.suo
*.user
*.db
*.sln.docstates

# Логи и временные файлы
*.log
*.tlog
*.pdb
*.idb
